<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <h1>AI Chatbot</h1>
    </nav>

    <div class="container">
        <div class="chat-container" style="background-image: localStorage.getItem('chatBackground')">
            <div id="chat-box" class="chat-box">
                {% for message in chat_history %}
                    {% if loop.index > 2 %}
                        <div class="message {{ 'user-message' if message.role == 'user' else 'ai-message' }}">
                            {{ message.parts | safe }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <form id="chat-form" class="chat-form">
                <input type="text" id="user_input" name="user_input" placeholder="Message AI..." required autocomplete="off">
                <button type="submit"><i class="material-icons">send</i></button>
            </form>
        </div>

        <div class="settings-menu">
            <h2>Templates</h2>
            <div class="template-options">
                <div class="template-option selected" style="background-image: url('{{ url_for('static', filename='1.jpg') }}');"></div>
                <div class="template-option" style="background-image: url('{{ url_for('static', filename='2.avif') }}');"></div>
                <div class="template-option" style="background-image: url('{{ url_for('static', filename='3.jpg') }}');"></div>
            </div>
            <br>
            <div class="dark-mode-container">
                <span id="dark-mode-label">Dark Mode</span>
                <label class="switch">
                    <input type="checkbox" id="dark-mode-toggle" checked="True">
                    <span class="slider"></span>
                </label>
            </div>
            <br>
            <button class="clear-chat-btn">Clear Chat</button>
            <button class="new-chat-btn">New Chat</button>
        </div>
    </div>

    <div id="clearChatModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Are you sure you want to clear the chat?</p><br>
            <button id="confirmClearChat" class="modal-button yesbtn">Yes, Clear Chat</button>
            <button id="cancelClearChat" class="modal-button cancelbtn">No, Cancel</button>
        </div>
    </div>

    <div id="newChatModel" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Are you sure you want to clear the chat?</p><br>
            <button id="confirmNewChat" class="modal-button yesbtn">Yes, Start New Chat</button>
            <button id="cancelClearChat" class="modal-button cancelbtn">No, Cancel</button>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            const darkModeSetting = localStorage.getItem("dark-mode");
            if (darkModeSetting == null) {
                localStorage.setItem('dark-mode', 'enabled');
            }
            if (darkModeSetting === 'disabled') {
                $('.navbar').css('background-color', 'white');
                $('.navbar').css('color', 'black');
                $('.settings-menu').css('background-color', 'white');
                $('.settings-menu').css('color', 'black');
                $('.new-chat-btn').css('background-color', 'black');
                $('.new-chat-btn').css('color', 'white');
                $('.user-message').css('background-color', '#dbdbdb');
                $('.ai-message').css('background-color', '#d1d1d1');
                $('.message').css('color', 'black');
                $('#dark-mode-toggle').prop('checked', false);
            }
        
            $('#dark-mode-toggle').change(function() {
                if ($(this).is(':checked')) {
                    $('.navbar').css('background-color', '#171515');
                    $('.navbar').css('color', 'white');
                    $('.settings-menu').css('background-color', '#1e1e1e');
                    $('.settings-menu').css('color', 'white');
                    $('.new-chat-btn').css('background-color', 'white');
                    $('.new-chat-btn').css('color', 'black');
                    $('.user-message').css('background-color', '#3a3a3a');
                    $('.ai-message').css('background-color', '#2b2b2b');
                    $('.message').css('color', 'white');
                    localStorage.setItem('dark-mode', 'enabled');
                } else {
                    $('.navbar').css('background-color', 'white');
                    $('.navbar').css('color', 'black');
                    $('.settings-menu').css('background-color', 'white');
                    $('.settings-menu').css('color', 'black');
                    $('.new-chat-btn').css('background-color', 'black');
                    $('.new-chat-btn').css('color', 'white');
                    $('.user-message').css('background-color', '#dbdbdb');
                    $('.ai-message').css('background-color', '#d1d1d1');
                    $('.message').css('color', 'black');
                    localStorage.setItem('dark-mode', 'disabled');
                }
            });

            const savedTemplate = localStorage.getItem('chatBackground');
            if (savedTemplate) {
                $('.chat-container').css('background-image', savedTemplate);
            } else {
                $('.chat-container').css('background-image', '{{url_for('static', filename='1.jpg')}}');
            }

            $('.template-option').on('click', function() {
                let url = $(this).css('background-image');
                $('.template-option').removeClass('selected');
                $('.chat-container').css('background-image', url);
                $(this).addClass('selected');
                localStorage.setItem('chatBackground', url);
            });

            $('#chat-box').children('.ai-message').each(function() {
                $(this).css('opacity', 1);
            });

            $('.clear-chat-btn').on('click', function() {
                $('#clearChatModal').css('display', 'block');
            });

            $('.close').on('click', function() {
                $('#clearChatModal').css('display', 'none');
                $('#newChatModal').css('display', 'none');
            });

            $(window).on('click', function(event) {
                if ($(event.target).is('#clearChatModal')) {
                    $('#clearChatModal').css('display', 'none');
                }
                if ($(event.target).is('#newChatModal')) {
                    $('#newChatModal').css('display', 'none');
                }
            });

            $('.new-chat-btn').on('click', function() {
                $('#newChatModal').css('display', 'block');
            });

            $('#confirmNewChat').on('click', function() {
                $.ajax({
                    url: "{{ url_for('clear_chat') }}",
                    method: 'GET',
                    data: {'btn': 'new'},
                    success: function(response) {
                        $('#chat-box').empty();
                    },
                    error: function(xhr, status) {}
                });
                $('#newChatModal').css('display', 'none');
            });

            $('#confirmClearChat').on('click', function() {
                $.ajax({
                    url: "{{ url_for('clear_chat') }}",
                    method: 'GET',
                    data: {'btn': 'clear'},
                    success: function(response) {
                        $('#chat-box').empty();
                    },
                    error: function(xhr, status) {
                        
                    }
                });
                $('#clearChatModal').css('display', 'none');
            });

            // Cancel clear chat
            $('#cancelClearChat').on('click', function() {
                $('#clearChatModal').css('display', 'none'); // Close the modal
                $('#newChatModal').css('display', 'none'); // Close the modal
            });

            $('#chat-form').on('submit', function(e) {
                e.preventDefault();
                var user_input = $('#user_input').val();
                
                $.ajax({
                    url: "{{ url_for('get_response') }}",
                    method: 'POST',
                    data: {
                        user_input: user_input
                    },
                    success: function(response) {
                        const userMessage = $('<div class="message user-message">' + user_input + '</div>');

                        $('#chat-box').append(userMessage);
                        const aiMessage = $('<div class="message ai-message message-ai"></div>');
                        const aiLines = response.chatbot_response.split('\n');
                        aiLines.forEach(line => {
                            const lineDiv = $('<div class="line">' + line + '</div>');
                            aiMessage.append(lineDiv);
                        });
                        $('#chat-box').append(aiMessage);
                        setTimeout(function() {
                            aiMessage.addClass('show');
                            aiMessage.children('.line').each(function(index) {
                                const line = $(this);
                                setTimeout(function() {
                                    line.show();
                                    $('#chat-box').scrollTop($('#chat-box')[0].scrollHeight);
                                }, index * 100);
                            });
                        }, 100);

                        $('#user_input').val('');
                        $('#chat-box').scrollTop($('#chat-box')[0].scrollHeight);
                    },
                    error: function(xhr, status) {
                        const userMessage = $('<div class="message user-message">' + user_input + '</div>');
                        const aiMessage = $('<div class="message ai-message message-ai">Cannot generate a response!!</div>');

                        $('#chat-box').append(userMessage);
                        $('#chat-box').append(aiMessage);
                        setTimeout(function() {
                            aiMessage.addClass('show');
                        }, 100);
                        $('#user_input').val('');
                        $('#chat-box').scrollTop($('#chat-box')[0].scrollHeight);
                    }
                });
            });
        });
    </script>    
</body>
</html>
